﻿<!DOCTYPE html>

<html>
<head>
    <title>Login|Guess</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
</head>
<body>
    <body>

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="~/Content/images/img-01.png" alt="IMG">
                    </div>
                        <div>
                            @RenderBody()
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>       
        <script src="~/Content/vendor/select2/select2.min.js"></script>        
        <script src="~/Content/vendor/tilt/tilt.jquery.min.js"></script>
        <script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
        </script>       
        <script src="~/Content/js/main.js"></script>

    </body>
</html>
    