﻿@using OnlineStore.Common
@using (Ajax.BeginForm("AddSetting", "SettingSystem", new AjaxOptions
{
    OnBegin = "OnBegin",
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure"
}))
{
    <script>
        function OnBegin() {
            $('#load_page').html('Đang lưu...');
        }
        function OnSuccess(rs) {
            $('#load_page').html('');
        }
        function OnFailure(rs) {

        }
    </script>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                        @*<li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>*@
                        <li class="nav-item"><a class="nav-link" href="#settingSeo" data-toggle="tab">SEO</a></li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <div class="form-group">
                                <label>Tiêu đề trang</label>
                                <input type="text" name="SettingTitle" class="form-control" value="@SettingHelper.GetValue("SettingTitle")" />
                            </div>
                            <div class="form-group">
                                <label>Logo</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="text" value="@SettingHelper.GetValue("SettingLogo")" name="SettingLogo" id="txtSettingLogo" class="form-control" />
                                    </div>
                                    <div class="input-group-append">
                                        <input type="button" value="Tải ảnh" onclick="BrowseServer('txtSettingLogo');" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Hotline</label>
                                <input type="text" value="@SettingHelper.GetValue("SettingHotline")" name="SettingHotline" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" value="@SettingHelper.GetValue("SettingEmail")" name="SettingEmail" class="form-control" />
                            </div>

                        </div>
                        <div class="tab-pane" id="settingSeo">
                            <div class="form-group">
                                <label>Tiêu đề seo</label>
                                <input type="text" value="@SettingHelper.GetValue("SettingTitleSeo")" name="SettingTitleSeo" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Mô tả seo</label>
                                <textarea name="SettingDesSeo" class="form-control" rows="3">@SettingHelper.GetValue("SettingDesSeo")</textarea>
                            </div>
                            <div class="form-group">
                                <label>Từ khóa seo</label>
                                <textarea name="SettingKeySeo" class="form-control" rows="3">@SettingHelper.GetValue("SettingKeySeo")</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div>
                <button type="submit" class="btn btn-success">Lưu</button>
            </div>
        </div>
    </div>

}
